/* general */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman";
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
}
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* req-1 */

.req-1 {
  height: 87px;
  left: 0px;
  top: 0px;
  background: linear-gradient(89.97deg, #0f2c4c 0.02%, #27384a 92.62%);
}
.req-1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-up {
  margin-top: 15px;
  cursor: pointer;
}
.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.links li {
  margin-right: 10px;
}
.links li i {
  color: #1e579a;
}
/* header */
header {
  background-image: url("../images/sh.png");
  background-color: #cccccc;
  height: 576px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -26px;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
}
nav ul li {
  margin-right: 30px;
  font-size: 26px;
  margin-top: 46px;
  cursor: pointer;
}
.bar {
  display: none;
  font-size: 26px;
  margin-top: 46px;
  cursor: pointer;
  color: #ffffff;
}

nav ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}

header p {
  position: absolute;
  left: 28%;
  top: 40%;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #ffffff;
}
@media (max-width: 990px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 15px;
    margin-top: 9px;
    cursor: pointer;
    display: none;
  }
  .bar {
    display: block;
    font-size: 25px;
  }
  .bar:hover ul {
    display: block;
    z-index: 1;
  }

  header p {
    left: 20%;
    top: 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
  }
}

.req-9 {
  height: 60px;
  left: 0px;
  top: 660px;
  background: url("../images/Rectangle 9.png");
  mix-blend-mode: multiply;
  background: linear-gradient(90deg, #0f2c4c 0%, #27384a 104.97%);
}
/* services */
.person-company {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.req-4 {
  position: relative;
  height: 484px;
  width: 705px;
  border-radius: 0px;
  background: url("../images/Rectangle 4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.req-5 {
  position: relative;
  height: 485px;
  width: 705px;
  border-radius: 0px;
  background: url("../images/Rectangle 5.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.req-5 h2 {
  position: absolute;
  width: 348px;
  height: 89px;
  left: 29%;
  top: 31%;
  font-style: normal;
  font-weight: 400;
  font-size: 77px;
  line-height: 89px;
  color: #ffffff;
  background: rgba(44, 67, 109, 0.82);
  border-radius: 16px;
}
.req-4 h2 {
  position: absolute;
  width: 403px;
  height: 89px;
  left: 17%;
  top: 30%;
  font-style: normal;
  font-weight: 400;
  font-size: 77px;
  line-height: 89px;
  color: #ffffff;
  background: rgba(44, 67, 109, 0.82);
  border-radius: 16px;
}
.req-9 h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
  text-align: center;

  color: #ffffff;
}
/*  <!-- start of services of company --> */
.company-card-service {
  margin-top: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: right;
  text-transform: uppercase;
  color: #384e66;
  background: #f0f3f7;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.company-service {
  position: relative;
}
.company-service p {
  padding: 5px 37px 5px;
  display: inline-block;
  position: absolute;
  width: 431px;
  height: 73px;
  left: 60%;
  top: -8%;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  text-align: right;
  text-transform: uppercase;
  background: linear-gradient(89.76deg, #0f2c4c 0%, #27384a 100%);
  color: #ffffff;
}
.company-service ul {
  margin-top: 100px;
}

.company-service p::after {
  content: "";
  top: 0;
  border-style: solid;
  border-color: #0f2c4c #0f2c4c #0f2c4c #f0f3f7;
  border-width: 36px;
  left: 0px;
  position: absolute;
}
/* start person services */
.person-services h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 86px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.person-services p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  text-transform: uppercase;
  color: #333333;
}
.person-services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  justify-items: center;
}
.person-services-card {
  text-align: center;
  width: 360px;
  height: 374px;
  left: 144px;
  top: 2155px;
  border: 1px solid #e0e0e0;
  padding: 30px;
}
.person-services-card h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-align: right;
  text-transform: uppercase;
  color: #333333;
}
.person-services-card p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  text-transform: uppercase;
  color: #333333;
}
.delivery-card {
  width: 458px;
  height: 237px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto;
}
.card-form h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
  color: #384e66;
}
.card-form {
  padding: 49px;
  height: 562px;
  background: #ffffff;
  box-shadow: 0px 4px 200px rgb(44 67 109 / 21%);
}
.card-form input {
  width: 360px;
  height: 60px;
  left: 195px;
  top: 4143px;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
}
.card-form textarea {
  width: 360px;
  height: 96px;
  left: 195px;
  top: 4383px;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
}
::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  text-transform: uppercase;
  color: #333333;
}
.card-form button {
  display: block;
  width: 360px;
  height: 61px;
  left: 195px;
  top: 4499px;
  background: linear-gradient(88.7deg, #1e579a -38.44%, #27384a 144.29%);
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
}
.reserve {
  display: flex;
  flex-wrap: wrap-reverse;
}
.mg {
  position: relative;
}
.mg p {
  position: absolute;
  top: 170px;
  right: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}
/* customers */
.customers {
  position: relative;
  height: 676px;
  background-image: url("../images/Rentalreturn145.png");
  background-size: cover;
  margin-bottom: 50px;
}
.user {
  position: absolute;
  text-align: center;
  color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 50%;
  padding: 20px;
  width: 250px;
  height: 250px;
}
.user p {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px;
}
.user p:last-child {
  font-weight: 400;
  font-size: 35px;
}
/* quality */
.quality {
  width: 1139px;
  height: 398px;
  position: relative;
  background-color: #ececec;
  z-index: -1;
}
.quality h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #0f2c4c;
}
.quality-cards {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.quality-card {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #0f2c4c;
}
.our {
  margin-top: 50px;
  position: relative;
  background-image: url("../images/our.png");
  background-size: cover;
  height: 771px;
}
.our h2 {
  font-style: normal;
  font-weight: 700;
  position: absolute;
  font-size: 53px;
  top: 1%;
  right: 46%;
  margin-top: 20px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.our-team {
  position: absolute;
  width: 994px;
  top: 50%;
  left: 20%;
  height: 198px;
  background: rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.our-team p {
  margin: 8px;
}
.know-us {
  position: relative;
  align-items: center;
}
.know-card {
  background-color: #ececec;
  z-index: -1;
  padding: 122px 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  text-align: right;
  text-transform: uppercase;
  color: #384e66;
}
.know-us h2 {
  font-weight: 700;
  font-size: 53px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.sh {
  padding: 5px 37px 5px;
  display: inline-block;
  position: absolute;
  width: 431px;
  height: 73px;
  top: 5%;
  right: 0%;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  text-align: right;
  text-transform: uppercase;
  background: linear-gradient(89.76deg, #0f2c4c 0%, #27384a 100%);
  color: #ffffff;
}
.sh::after {
  content: "";
  top: 0;
  border-style: solid;
  border-color: #0f2c4c #0f2c4c #0f2c4c #ececec;
  border-width: 36px;
  left: 0px;
  position: absolute;
}
/* advantages */
.advantages {
  /* position: absolute; */
  display: grid;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.advantages-card {
  height: 172px;
  width: 500px;
  background: linear-gradient(89.76deg, #1a4578 0%, #0f2c4c 100%);
  opacity: 0.4;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: right;
  text-transform: uppercase;
  padding: 20px;
  color: #ffffff;
}
.know-card-text {
  margin-top: 50px;
}
/* footer */
.footer {
  height: 167px;
  background: linear-gradient(89.76deg, #0f2c4c 0%, #27384a 100%);
}
.footer .container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.footer img {
  margin-top: 50px;
}
.email h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}
.email p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: right;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: #ffffff;
  cursor: pointer;
}
/* policy-payment */
.policy-payment .container {
  display: flex;
  justify-content: space-between;
}
.payment {
  display: flex;
  justify-content: space-between;
}
.payment div {
  margin-left: 30px;
  margin-top: 15px;
  cursor: pointer;
}
.policy {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.policy div {
  margin-left: 30px;
}
.policy a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #bdbdbd;
}
